<div class="product-detail-page container">
    <div class="pd-box-group pd-info-group bg-white d-flex flex-wrap">
        <div class="pd-box-left">
            <div class="big-image-holder" id="js-big-img" data-id="js-fancybox-1">
                <a href="javascript:void(0)">
                    <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                </a>
            </div>

            <div class="pd-img-gallery owl-carousel owl-theme owl-loaded owl-drag" id="js-img-gallery">


                <div class="owl-stage-outer">
                    
                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 519px;">
                    <div class="owl-item active" style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" class="current" data-id="js-fancybox-1" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>
                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-2" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>
                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-3" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>
                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-4" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>
                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-5" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>
                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-5" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>

                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-5" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>

                    <div class="owl-item " style="width: 96.8px; margin-right: 7px;">
                        <a href="javascript:void(0)" data-id="js-fancybox-5" data-href="@ViewBag.product.ProductImg[0].ImgPath">
                            <img src="@ViewBag.product.ProductImg[0].ImgPath" alt="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        </a>
                    </div>


                </div>
            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev disabled"><i class="arrow arrow-left"></i></button><button type="button" role="presentation" class="owl-next disabled"><i class="arrow"></i></button></div><div class="owl-dots disabled"></div><div class="owl-thumbs"></div>
        </div>

        <div style="display: none;">

            @foreach (var item in ViewBag.product.ProductImg)
            {
                <a href="@item.ImgPath" data-fancybox="gallery" data-thumb="@item.ImgPath" id="js-fancybox-@item.Id"></a>
            }

        </div>
    </div>

    <div class="pd-box-middle">
        <h1 class="pd-name">@ViewBag.product.Name</h1>

        <div class="pd-sku-rating-group">
            Mã SP: <span class="green text-uppercase">&nbsp;MH0287</span>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" onclick="$(&quot;body,html&quot;).animate({ scrollTop: $(&quot;#pd-comment&quot;).offset().top - 100},800);">
                <i class="icon-star star-0"></i> (0 đánh giá)
            </a> &nbsp;&nbsp;&nbsp;
            Lượt xem: <b>&nbsp;1.073</b>&nbsp;&nbsp;&nbsp;

        </div>


        <div class="pd-summary-group">
            <b class="title">Thông số sản phẩm</b>

            <div class="pd-summary-list" id="js-summary-list">


                <div class="item">
                    Chiếu Cao : 16 cm
                </div>

                <div class="item">
                    Trọng Lượng : 500 Gram
                </div>

                <div class="item">
                    Phụ kiện đi kèm : Không
                </div>

                <div class="item" style="display: none;">
                    Chất liệu : PVC cao cấp
                </div>

                <div class="item" style="display: none;">
                    Vỏ hộp kèm sản phẩm : Full Box , hộp đẹp , chắc chắn
                </div>

                <div class="item" style="display: none;">
                    Nhân vật :  VINSMOKE SANJI
                </div>

                <div class="item" style="display: none;">FIGURE ANIME  : ONE PIECE</div>

            </div>

            <div class="pd-btn-summary">
                <a href="javascript:void(0)" id="js-summary-showmore" style="display: block;">
                    Xem thêm <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" id="js-summary-showless">
                    Thu gọn <i class="fa fa-long-arrow-alt-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>



        <div class="pd-variant-group">
            <b class="title">Tùy Chọn Sản Phẩm</b>

            <div class="pd-variant-group-holder" id="js-variant-group-holder">


                <a href="/mo-hinh-sanji-vest-den-30cm" class="item ">
                    <span class="name">SANJI VEST ĐEN 30CM</span>
                    <span class="price">
                        200.000<u>đ</u>

                    </span>
                </a>

                <a href="/mo-hinh-big-chibi-sanji-21cm" class="item ">
                    <span class="name">BIG CHIBI SANJI 21CM</span>
                    <span class="price">
                        550.000<u>đ</u>

                    </span>
                </a>

                <a href="/mo-hinh-ban-than-sanji-led-rgb-16cm" class="item ">
                    <span class="name">BÁN THÂN SANJI LED RGB 16CM</span>
                    <span class="price">
                        290.000<u>đ</u>

                    </span>
                </a>

                <a href="/mo-hinh-sanji-gk-38cm" class="item ">
                    <span class="name">SANJI GK 38CM</span>
                    <span class="price">
                        1.450.000<u>đ</u>

                    </span>
                </a>

                <a href="javascript:void(0)" class="item current">
                    <span class="name">SANJI ĐÁ LỬA 16CM</span>
                    <span class="price">
                        79.000<u>đ</u>

                    </span>
                </a>

                <a href="/mo-hinh-zoro-white-tiger-chibi-14cm" class="item ">
                    <span class="name">SANJI VEST SMOKING ĐEN 31CM</span>
                    <span class="price">
                        220.000<u>đ</u>

                    </span>
                </a>


            </div>


        </div>



        <div class="js-variant-data" style="display: none;">
            <div class="js-variant-option-container js-variant-product-1675" data-id="1675">
                <script type="hura8/tpl">[]</script><input type="hidden" value="">
                <div class="result-config"></div>
            </div>
        </div>


        <div class="pd-price-group">
            <table>

                <tbody>
                    <tr>
                        <td>Giá bán:</td>
                        <td>
                            <del class="pd-old-price">180.000₫</del>
                        </td>
                    </tr>


                    <tr>
                        <td>Giá khuyến mại:</td>
                        <td>
                            <span class="pd-price js-variantSelected-price">
                                79.000₫

                            </span>
                            <span class="pd-discount js-discount">(Tiết kiệm: 57%)</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pd-btn-cart">
                <a href="javascript:void(0)" onclick="BuyNow(@ViewBag.product.Id)">MUA NGAY</a>
                <a href="javascript:void(0)" onclick="AddToCard(@ViewBag.product.Id)">THÊM VÀO GIỎ</a>
        </div>

    </div>

    <div class="pd-box-right">
        <div class="static-item">
            <p class="title">CHÍNH SÁCH MUA HÀNG</p>

            <div class="item-list">
                <p class="item">
                    <i class="icons icon-card"></i> <span>Thanh toán thuận tiện</span>
                </p>

                <p class="item">
                    <i class="icons icon-shield"></i> <span>Sản phẩm 100% chính hãng</span>
                </p>

                <p class="item">
                    <i class="icons icon-box"></i> <span>Bảo hành nhanh chóng</span>
                </p>

                <p class="item">
                    <i class="icons icon-truck"></i> <span>Giao hàng toàn quốc</span>
                </p>
            </div>
        </div>

        <div class="static-item">
            <p class="title">HOTLINE HỖ TRỢ</p>

            <div class="item-list">
                <a href="tel:094.359.2222" class="item">
                    <i class="icons icon-phone"></i>
                    <span>Hotline CSKH: 0349.296.461</span>
                </a>

                <a href="tel:094.359.2222" class="item">
                    <i class="icons icon-phone"></i>
                    <span>Tư vấn mua hàng: 0349.296.461</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="pd-box-group">
            <div class="pd-tab-group" id="js-pd-tab">
                <a href="#pd-desc" class="active">ĐẶC ĐIỂM</a>

                <a href="#pd-comment">ĐÁNH GIÁ</a>
            </div>

            <div class="pd-desc-group js-static-container" id="pd-desc">
                <div class="js-static-content">
                    <i>Đang cập nhật ... !</i>

                </div>

                <div class="pd-btn-desc">
                    <a href="javascript:void(0)" class="js-showmore-button">XEM THÊM <i class="fas fa-angle-double-down" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" class="js-showless-button">THU GỌN <i class="fas fa-angle-double-up" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>



        <div class="pd-box-group" id="pd-comment">
            <p class="box-title">Đánh giá về sản phẩm</p>

            <div class="pd-comment-group">
                <div class="comment-container">
                    <form action="/ajax/post_comment.php" method="post" enctype="multipart/form-data" onsubmit="return check_field(0)" class="form-post d-flex flex-wrap">


                        <input type="hidden" name="user_post[item_title]" value="[Sản phẩm] MÔ HÌNH SANJI ĐÁ LỬA 16CM">




                        <input type="hidden" name="user_post[item_type]" value="product">
                        <input type="hidden" name="user_post[item_id]" value="1675">
                        <input type="hidden" name="user_post[title]" value="MÔ HÌNH SANJI ĐÁ LỬA 16CM">
                        <input type="hidden" name="user_post[user_email]" value="">
                        <input type="hidden" name="user_post[user_name]" value="">
                        <input type="hidden" name="user_post[user_tel]" value="">
                        <input type="hidden" name="user_post[user_avatar]" value="0">
                        <input type="hidden" name="user_post[rate]" value="0">

                        <div class="comment-form-left">
                            <img src="/static/assets/default/images/no-avatar.png" alt="avt" width="70" height="70">
                        </div>

                        <div class="comment-form-right">
                            <table>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <textarea name="user_post[content]" id="content0" class="js-show-form-input" placeholder="Nội dung"></textarea>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <div class="rating-choose d-flex align-items-center">
                                                <span> Đánh giá: </span>

                                                <div class="rating-selection clearfix" id="rating-review0">
                                                    <input type="radio" class="rating-input" id="rating-input-review-0-5" value="5" name="user_post[rate]" checked="">
                                                    <label for="rating-input-review-0-5" class="rating-star"></label>

                                                    <input type="radio" class="rating-input" id="rating-input-review-0-4" value="4" name="user_post[rate]">
                                                    <label for="rating-input-review-0-4" class="rating-star"></label>

                                                    <input type="radio" class="rating-input" id="rating-input-review-0-3" value="3" name="user_post[rate]">
                                                    <label for="rating-input-review-0-3" class="rating-star"></label>

                                                    <input type="radio" class="rating-input" id="rating-input-review-0-2" value="2" name="user_post[rate]">
                                                    <label for="rating-input-review-0-2" class="rating-star"></label>

                                                    <input type="radio" class="rating-input" id="rating-input-review-0-1" value="1" name="user_post[rate]">
                                                    <label for="rating-input-review-0-1" class="rating-star"></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="text" id="name0" class="inputText" value="" placeholder="Tên (Bắt buộc)">
                                        </td>
                                        <td>
                                            <input type="text" id="email0" class="inputText" placeholder="Email (Bắt buộc)" value="">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="send_form" onclick="postComment('0','');"> GỬI ĐI </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div id="comment-list" class="comment-list"></div>
            </div>
        </div>
    </div>

    <div class="col-4">





        <div class="pd-box-group" id="js-sameCat-container">
            <p class="box-title">SẢN PHẨM TƯƠNG TỰ</p>

            <div class="pd-related-holder" id="js-sameCat-holder">
                <div class="p-item">
                    <a href="/mo-hinh-luffy-beo-sofa-chibi-14cm" class="p-img">
                        <img src="/media/product/250-4041-3.jpg" alt="MÔ HÌNH LUFFY BÉO SOFA CHIBI 14CM">


                    </a>

                    <div class="p-text">
                        <div class="d-flex align-item-center justify-content-between">
                            <p class="p-sku">Mã: MH0490</p>
                            <p class="p-qty conhang">Còn hàng </p>
                        </div>
                        <a href="/mo-hinh-luffy-beo-sofa-chibi-14cm" class="p-name">MÔ HÌNH LUFFY BÉO SOFA CHIBI 14CM</a>

                        <div class="p-price-container">


                            <span class="p-price">
                                220.000<u>đ</u>

                            </span>

                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(4041, 0, '')"></a>
                        </div>
                    </div>
                </div>

                <div class="p-item">
                    <a href="/mo-hinh-sanji-beo-sofa-chibi-18cm" class="p-img">
                        <img src="/media/product/250-4040-4.jpg" alt="MÔ HÌNH SANJI BÉO SOFA CHIBI 18CM">


                    </a>

                    <div class="p-text">
                        <div class="d-flex align-item-center justify-content-between">
                            <p class="p-sku">Mã: MH0489</p>
                            <p class="p-qty conhang">Còn hàng </p>
                        </div>
                        <a href="/mo-hinh-sanji-beo-sofa-chibi-18cm" class="p-name">MÔ HÌNH SANJI BÉO SOFA CHIBI 18CM</a>

                        <div class="p-price-container">


                            <span class="p-price">
                                220.000<u>đ</u>

                            </span>

                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(4040, 0, '')"></a>
                        </div>
                    </div>
                </div>

                <div class="p-item">
                    <a href="/mo-hinh-sabo-lac-dau-12cm" class="p-img">
                        <img src="/media/product/250-3994-2.jpg" alt="MÔ HÌNH SABO LẮC ĐẦU 12CM">


                    </a>

                    <div class="p-text">
                        <div class="d-flex align-item-center justify-content-between">
                            <p class="p-sku">Mã: MH0475</p>
                            <p class="p-qty conhang">Còn hàng </p>
                        </div>
                        <a href="/mo-hinh-sabo-lac-dau-12cm" class="p-name">MÔ HÌNH SABO LẮC ĐẦU 12CM</a>

                        <div class="p-price-container">


                            <span class="p-price">
                                130.000<u>đ</u>

                            </span>

                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3994, 0, '')"></a>
                        </div>
                    </div>
                </div>

                <div class="p-item">
                    <a href="/mo-hinh-luffy-gear-5-nika-chibi-sumo-form-15cm" class="p-img">
                        <img src="/media/product/250-3986-lu.jpg" alt="MÔ HÌNH LUFFY GEAR 5 NIKA CHIBI SUMO FORM 15CM">


                    </a>

                    <div class="p-text">
                        <div class="d-flex align-item-center justify-content-between">
                            <p class="p-sku">Mã: MH0474</p>
                            <p class="p-qty conhang">Còn hàng </p>
                        </div>
                        <a href="/mo-hinh-luffy-gear-5-nika-chibi-sumo-form-15cm" class="p-name">MÔ HÌNH LUFFY GEAR 5 NIKA CHIBI SUMO FORM 15CM</a>

                        <div class="p-price-container">


                            <span class="p-price">
                                150.000<u>đ</u>

                            </span>

                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3986, 0, '')"></a>
                        </div>
                    </div>
                </div>

                <div class="p-item">
                    <a href="/mo-hinh-chibi-ngoi-luffy-gear-5-trang-8cm" class="p-img">
                        <img src="/media/product/250-3949-w1.jpg" alt="MÔ HÌNH CHIBI NGỒI LUFFY GEAR 5 TRẮNG 8CM">


                    </a>

                    <div class="p-text">
                        <div class="d-flex align-item-center justify-content-between">
                            <p class="p-sku">Mã: MH0472</p>
                            <p class="p-qty conhang">Còn hàng </p>
                        </div>
                        <a href="/mo-hinh-chibi-ngoi-luffy-gear-5-trang-8cm" class="p-name">MÔ HÌNH CHIBI NGỒI LUFFY GEAR 5 TRẮNG 8CM</a>

                        <div class="p-price-container">


                            <span class="p-price">
                                70.000<u>đ</u>

                            </span>

                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3949, 0, '')"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pd-history-group pd-box-group">
    <a href="/san-pham-da-xem" class="box-title">Sản phẩm đã xem</a>

    <div class="p-container" id="js-product-history"><!-- // Get Product History --></div>
</div>
</div>