@model LacDau.Models.ProductVM.ProductVM;

<table class="table table-responsive">
    <tbody>
        <tr>
            <th class="text-nowrap">Tên sản phẩm</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>@Model.Slug</td>
        </tr>
        <tr>
            <th>Thương hiệu</th>
            <td>@Model.TrademarkName</td>
        </tr>
        <tr>
            <th>Danh mục</th>
            <td>@Model.CategoryName</td>
        </tr>
        <tr>
            <th>Chi tiết</th>
            <td>@Model.Description</td>
        </tr>
        @if (Model.ProductImg.Count > 0)
        {
            @foreach (var item in Model.ProductImg)
            {
                <tr>
                    <th>Ảnh</th>
                    <td><img src="@item.ImgPath" class="w-50" /></td>
                </tr>
            }
        }
        <tr>
            <th>Ở trang chủ</th>
            <td>
                @if (Model.IsHome)
                {
                    <span>Có</span>
                }
                else
                {
                    <span>Không</span>
                }
            </td>
        </tr>

        <tr>
            <th>Video</th>
            <td>
                <video height="200" controls>
                    <source src="@Model.Video" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </td>
        </tr>
    </tbody>
</table>